import React from "react";
import styled from "styled-components";

const StyledRectangle1 = styled.div`
  width: 1440px;
  height: 51px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #E8C2E4;
`;

const StyledRectangle2 = styled.div`
  width: 1440px;
  height: 167px;
  left: 0px;
  top: 51px;
  position: absolute;
  background: linear-gradient(180deg, #A0645F 70%, #3A2422 100%);
`;

const StyledRectangle3 = styled.div`
  width: 1440px;
  height: 47px;
  left: 0px;
  top: 218px;
  position: absolute;
  background: linear-gradient(270deg, #1EAA80 69%, #8318B0 100%);
`;

const StyledChomngbnnvigiangianhngcachngtispan = styled.span`
  color: black;
  font-size: 20px;
  font-family: Lugrasimo;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledImage1 = styled.img`
  width: 899px;
  height: 97px;
  left: 394px;
  top: 69px;
  position: absolute;
`;

const StyledImage2 = styled.img`
  width: 866px;
  height: 67px;
  left: 245px;
  top: 68px;
  position: absolute;
  border-radius: 100px;
`;

const StyledImage3 = styled.img`
  width: 700px;
  height: 58px;
  left: 310px;
  top: 105px;
  position: absolute;
  border-radius: 5px;
  border: 3px #9D3C3C solid;
`;

const StyledEllipse11 = styled.div`
  width: 150px;
  height: 150px;
  left: 0px;
  top: 0px;
  position: absolute;
  border-radius: 9999px;
`;

const StyledRectangle94 = styled.div`
  width: 200px;
  height: 40px;
  left: 0px;
  top: 0px;
  position: absolute;
  border-radius: 100px;
  border: 1px black solid;
`;

const StyledEllipse12 = styled.div`
  width: 60px;
  height: 60px;
  left: 0px;
  top: 0px;
  position: absolute;
  border-radius: 9999px;
  border: 1px black solid;
`;

const StyledRectangle99 = styled.div`
  width: 1440px;
  height: 616px;
  left: 0px;
  top: 1728px;
  position: absolute;
  background: #0E0D0D;
`;

const StyledEllipse13 = styled.div`
  width: 80px;
  height: 80px;
  left: 918px;
  top: 2158px;
  position: absolute;
  border-radius: 9999px;
`;

const StyledEllipse14 = styled.div`
  width: 80px;
  height: 80px;
  left: 1094px;
  top: 2158px;
  position: absolute;
  border-radius: 9999px;
`;

const StyledEllipse15 = styled.div`
  width: 80px;
  height: 80px;
  left: 1244px;
  top: 2158px;
  position: absolute;
  border-radius: 9999px;
  border: 1px black solid;
`;

const StyledChnhnhtrctipcashopspan = styled.span`
  color: white;
  font-size: 48px;
  font-family: Koulen;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledS12ng12nguynvntritpvinhqun8nguyndutphcmqunngatphnis32ng8nguyntrinngspan = styled.span`
  color: white;
  font-size: 36px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledNgnhpngkqunlnhngthngtincnhncuhithnggpimtkhukhiunitrhngspan = styled.span`
  color: white;
  font-size: 36px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledHoline03046377370263733937emailkingofflowergmailcomspan = styled.span`
  color: white;
  font-size: 36px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledImage4 = styled.img`
  width: 184px;
  height: 69px;
  left: 58px;
  top: 2098px;
  position: absolute;
  border-radius: 15px;
`;

const StyledImage5 = styled.img`
  width: 193px;
  height: 69px;
  left: 299px;
  top: 2103px;
  position: absolute;
  border-radius: 20px;
`;

const StyledAppkingofflowerspan = styled.span`
  color: white;
  font-size: 32px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledImage6 = styled.img`
  width: 227px;
  height: 70px;
  left: 58px;
  top: 2229px;
  position: absolute;
  border-radius: 20px;
  border: 1px black solid;
`;

const StyledImage7 = styled.img`
  width: 228px;
  height: 71px;
  left: 309px;
  top: 2229px;
  position: absolute;
  border-radius: 20px;
  border: 1px black solid;
`;

const StyledTikhondchvspan = styled.span`
  color: white;
  font-size: 48px;
  font-family: Koulen;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledRectangle100 = styled.div`
  width: 556px;
  height: 43px;
  left: 828px;
  top: 2093px;
  position: absolute;
  background: #807858;
  border-radius: 20px;
  border: 1px black solid;
`;

const StyledCcnntngcachngtispan = styled.span`
  color: white;
  font-size: 32px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledKhuvcminbcmintrungminnamspan01 = styled.span`
  color: white;
  font-size: 32px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledKhuvcminbcmintrungminnamspan02 = styled.span`
  color: #2926EB;
  font-size: 32px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledKhuvcminbcmintrungminnamspan03 = styled.span`
  color: #0FAF1C;
  font-size: 32px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledKhuvcminbcmintrungminnamspan04 = styled.span`
  color: white;
  font-size: 32px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledKhuvcminbcmintrungminnamspan05 = styled.span`
  color: #C70D0D;
  font-size: 32px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledEllipse16 = styled.div`
  width: 20px;
  height: 20px;
  left: 464px;
  top: 236px;
  position: absolute;
  background: #101010;
  border-radius: 9999px;
`;

const StyledEllipse17 = styled.div`
  width: 20px;
  height: 20px;
  left: 850px;
  top: 236px;
  position: absolute;
  background: black;
  border-radius: 9999px;
`;

const StyledEllipse18 = styled.div`
  width: 20px;
  height: 20px;
  left: 1248px;
  top: 236px;
  position: absolute;
  background: black;
  border-radius: 9999px;
`;

const StyledRectangle202 = styled.div`
  width: 1440px;
  height: 82px;
  left: 0px;
  top: 265px;
  position: absolute;
  background: linear-gradient(180deg, #78DDE9 73%, #447C83 100%);
  border: 5px black solid;
`;

const StyledGiithiuvwedsitespan = styled.span`
  color: #680E0E;
  font-size: 40px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledEllipse26 = styled.div`
  width: 400px;
  height: 400px;
  left: 989px;
  top: 483px;
  position: absolute;
  background: #F98989;
  border-radius: 9999px;
  border: 5px black solid;
`;

const StyledEllipse27 = styled.div`
  width: 250px;
  height: 250px;
  left: 0px;
  top: 0px;
  position: absolute;
  border-radius: 9999px;
  border: 1px black solid;
`;

const StyledRectangle230 = styled.div`
  width: 918px;
  height: 747px;
  left: 29px;
  top: 395px;
  position: absolute;
  background: #D11919;
  border-radius: 20px;
  border: 3px black solid;
`;

const StyledGiithiuvkingofflowerchomngbnnvikingofflowernimiahoakhngchlmnqumlngnngcacmxcvtnhyuchngtitinrnghoakhngchngmmcnlcchconngiktnischiavlantaiuptrongcucsngtikingofflowertngcnhhoacchnlaklngkthpcngbntaykholocanghnhncmhoatonnnhngtcphmtinhtvtrnycmxcthoasinhnhthoacihoakhaitrngnccthitkhoanghthutcquynchngtiluntchtlngvcmxccakhchhnglnhnguvismnhtraoyuthnggihnhphckingofflowerkhngchlmtcahnghoamlngikchuynbngschnggipbnthaylimunnitrongmidpcbitkingofflowernngniuvpthinnhinthpsngcmxcconngispan = styled.span`
  color: black;
  font-size: 32px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledLchsraicakingofflowerkingofflowerraitmtnimtingindhoakhngchngmhoalcmxclngnngcayuthngnmygianhpsngvivcathnhphngisnglpkingofflowernhnrarngconngingycngqunmtnhngkhonhkhclnglicmnhnvptnhinquanhmnhttngmtcahngnhmangtnkingofflowercthnhlpvimongmunmanghoatrlignhnvicucsngconngibanuchlvibhoaticgibngttctnhyuvitaykholonhngchnhstntmtmvchnthnhkhinkhchhngnhnvyumnthnghiutngbcmtkingofflowerphttrinmrnghthngadnghasnphmthoasinhnhthoacihoaskinnhoanghthutvcycnhnithtnhmnaykingofflowerkhngchlnibnhoamlbiutngcacmxcvsktnichngtithokhicnghnhcngbntrongnhngkhonhkhcngnhnhtcacucikhittnhkhichcmngkhischiahaynginchlmtlicmnkingofflowerhnhtrnhtmtbhoanhtrthnhngikchuynbngschngspan = styled.span`
  color: black;
  font-size: 16px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledRectangle231 = styled.div`
  width: 330px;
  height: 67px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, #45E7C1 60%, #27816C 100%);
  border-radius: 15px;
  border: 3px black solid;
`;

const StyledKhmphgianhngspan = styled.span`
  color: black;
  font-size: 24px;
  font-family: Lemon;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledRectangle232 = styled.div`
  width: 1440px;
  height: 18px;
  left: 0px;
  top: 1710px;
  position: absolute;
  background: #88E085;
`;

const StyledRectangle233 = styled.div`
  width: 1440px;
  height: 267px;
  left: 0px;
  top: 1443px;
  position: absolute;
`;

const StyledRectangle234 = styled.div`
  width: 1440px;
  height: 18px;
  left: 0px;
  top: 1435px;
  position: absolute;
  background: #88E085;
`;

const StyledRectangle235 = styled.div`
  width: 305px;
  height: 198px;
  left: 45px;
  top: 1483px;
  position: absolute;
  border-radius: 20px;
  border: 1px black solid;
`;

const StyledRectangle236 = styled.div`
  width: 305px;
  height: 198px;
  left: 569px;
  top: 1483px;
  position: absolute;
  border-radius: 20px;
  border: 1px black solid;
`;

const StyledRectangle237 = styled.div`
  width: 305px;
  height: 198px;
  left: 1094px;
  top: 1483px;
  position: absolute;
  border-radius: 20px;
  border: 1px black solid;
`;

const StyledRectangle238 = styled.div`
  width: 100px;
  height: 100px;
  left: -6px;
  top: 1311px;
  position: absolute;
`;

const StyledRectangle239 = styled.div`
  width: 291px;
  height: 45px;
  left: 45px;
  top: 1382px;
  position: absolute;
  background: black;
  border-radius: 20px;
`;

const StyledKhonhkhctuytvispan = styled.span`
  color: white;
  font-size: 16px;
  font-family: Kotta One;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledRectangle279 = styled.div`
  width: 166px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #E69575;
  border-radius: 10px;
  border: 1px black solid;
`;

const StyledRectangle280 = styled.div`
  width: 166px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #E69575;
  border-radius: 10px;
  border: 1px black solid;
`;

const StyledRectangle281 = styled.div`
  width: 166px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #E69575;
  border-radius: 10px;
  border: 1px black solid;
`;

const StyledRectangle282 = styled.div`
  width: 166px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #E69575;
  border-radius: 10px;
  border: 1px black solid;
`;

const StyledRectangle283 = styled.div`
  width: 166px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #E69575;
  border-radius: 10px;
  border: 1px black solid;
`;

const StyledRectangle284 = styled.div`
  width: 166px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #E69575;
  border-radius: 10px;
  border: 1px black solid;
`;

const StyledRectangle286 = styled.div`
  width: 166px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #E69575;
  border-radius: 10px;
  border: 1px black solid;
`;

const StyledTrangchspan = styled.span`
  color: white;
  font-size: 17px;
  font-family: Lexend Zetta;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledSnphmspan = styled.span`
  color: white;
  font-size: 17px;
  font-family: Lexend Zetta;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledThcvtspan = styled.span`
  color: white;
  font-size: 17px;
  font-family: Lexend Zetta;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledGihngspan = styled.span`
  color: white;
  font-size: 17px;
  font-family: Lexend Zetta;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledGiithiuspan = styled.span`
  color: white;
  font-size: 17px;
  font-family: Lexend Zetta;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledSkinspan = styled.span`
  color: white;
  font-size: 17px;
  font-family: Lexend Zetta;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledUispan = styled.span`
  color: white;
  font-size: 17px;
  font-family: Lexend Zetta;
  font-weight: 400;
  word-wrap: break-word;
`;

const StyledFrame51 = styled.div`
  width: 150px;
  height: 150px;
  left: 45px;
  top: 58px;
  position: absolute;
`;

const StyledFrame59 = styled.div`
  width: 200px;
  height: 40px;
  left: 1039px;
  top: 120px;
  position: absolute;
`;

const StyledFrame60 = styled.div`
  width: 60px;
  height: 60px;
  left: 1268px;
  top: 103px;
  position: absolute;
`;

const StyledFrame61 = styled.div`
  width: 250px;
  height: 250px;
  left: 1064px;
  top: 558px;
  position: absolute;
`;

const StyledFrame62 = styled.div`
  width: 330px;
  height: 67px;
  left: 1024px;
  top: 919px;
  position: absolute;
`;

const StyledFrame52 = styled.div`
  width: 166px;
  height: 36px;
  left: 216px;
  top: 173px;
  position: absolute;
`;

const StyledFrame53 = styled.div`
  width: 166px;
  height: 36px;
  left: 388px;
  top: 173px;
  position: absolute;
`;

const StyledFrame54 = styled.div`
  width: 166px;
  height: 36px;
  left: 560px;
  top: 173px;
  position: absolute;
`;

const StyledFrame55 = styled.div`
  width: 166px;
  height: 36px;
  left: 732px;
  top: 173px;
  position: absolute;
`;

const StyledFrame56 = styled.div`
  width: 166px;
  height: 36px;
  left: 904px;
  top: 173px;
  position: absolute;
`;

const StyledFrame57 = styled.div`
  width: 166px;
  height: 36px;
  left: 1076px;
  top: 173px;
  position: absolute;
`;

const StyledFrame58 = styled.div`
  width: 166px;
  height: 36px;
  left: 1248px;
  top: 173px;
  position: absolute;
`;

const StyledDesktop5 = styled.div`
  width: 1440px;
  height: 2344px;
  position: relative;
  background: #EFD3AF;
  overflow: hidden;
`;

export const Desktop5 = () => {
  return (
    <StyledDesktop5>
      <StyledRectangle1 />
      <StyledRectangle2 />
      <StyledRectangle3 />
      <StyledCHOMNGBNNVIGIANGIANHNGCACHNGTI>CHÀO MỪNG BẠN ĐẾN VỚI GIAN GIAN HÀNG CỦA CHÚNG TÔI</StyledCHOMNGBNNVIGIANGIANHNGCACHNGTI>
      <StyledImage1 />
      <StyledImage2 />
      <StyledImage3  src="https://placehold.co/700x58"/>
      <StyledFrame51>
        <StyledEllipse11  src="https://placehold.co/150x150"/>
      </StyledFrame51>
      <StyledFrame59>
        <StyledRectangle94  src="https://placehold.co/200x40"/>
      </StyledFrame59>
      <StyledFrame60>
        <StyledEllipse12  src="https://placehold.co/60x60"/>
      </StyledFrame60>
      <StyledRectangle99 />
      <StyledEllipse13  src="https://placehold.co/80x80"/>
      <StyledEllipse14  src="https://placehold.co/80x80"/>
      <StyledEllipse15  src="https://placehold.co/80x80"/>
      <StyledChnhnhtrctipcashop>Chí nhánh trực tiếp của shop</StyledChnhnhtrctipcashop>
      <StyledS12ng12NguynVnTriTPVinhQun8NguynDuTPHCMQunngaTPHNiS32ng8NguynTriNng>Số 12,ngõ 12,Nguyễn Văn Trỗi,TP Vinh.<br/>Quận 8,Nguyễn Du,TP HCM.<br/>Quận Đống Đa,TP Hà Nội.<br/>Số 32,ngõ 8,Nguyễn Trãi,Đà Nẵng.</StyledS12ng12NguynVnTriTPVinhQun8NguynDuTPHCMQunngaTPHNiS32ng8NguynTriNng>
      <StyledNgnhpngkQunlnhngThngtincnhnCuhithnggpimtkhuKhiunitrhng>Đăng nhập & Đăng ký.<br/>Quản lý đơn hàng.<br/>Thông tin cá nhân.<br/>Câu hỏi thường gặp.<br/>Đổi mật khẩu.<br/>Khiếu nại trả hàng.</StyledNgnhpngkQunlnhngThngtincnhnCuhithnggpimtkhuKhiunitrhng>
      <StyledHoline03046377370263733937Emailkingofflowergmailcom>Holine:0304637737 & 0263733937.<br/>Email:kingofflower@gmail.com.</StyledHoline03046377370263733937Emailkingofflowergmailcom>
      <StyledImage4  src="https://placehold.co/184x69"/>
      <StyledImage5  src="https://placehold.co/193x69"/>
      <StyledAPPKINGOFFLOWER>APP KING OF FLOWER</StyledAPPKINGOFFLOWER>
      <StyledImage6  src="https://placehold.co/227x70"/>
      <StyledImage7  src="https://placehold.co/228x71"/>
      <StyledTikhondchv>Tài khoản & dịch vụ</StyledTikhondchv>
      <StyledRectangle100 />
      <StyledCcnntngcachngti>các nền tảng của chúng tôi</StyledCcnntngcachngti>
      <StyledKhuvcMinBcMinTrungMinNam><StyledKhuvcminbcmintrungminnamspan01>Khu vực:                           </StyledKhuvcminbcmintrungminnamspan01><StyledKhuvcminbcmintrungminnamspan02>Miền Bắc                                        </StyledKhuvcminbcmintrungminnamspan02><StyledKhuvcminbcmintrungminnamspan03>Miền Trung</StyledKhuvcminbcmintrungminnamspan03><StyledKhuvcminbcmintrungminnamspan04>                                   </StyledKhuvcminbcmintrungminnamspan04><StyledKhuvcminbcmintrungminnamspan05>Miền Nam</StyledKhuvcminbcmintrungminnamspan05></StyledKhuvcMinBcMinTrungMinNam>
      <StyledEllipse16 />
      <StyledEllipse17 />
      <StyledEllipse18 />
      <StyledRectangle202 />
      <StyledGiithiuvwedsite>giới thiệu về wedsite</StyledGiithiuvwedsite>
      <StyledEllipse26 />
      <StyledFrame61>
        <StyledEllipse27  src="https://placehold.co/250x250"/>
      </StyledFrame61>
      <StyledRectangle230 />
      <StyledGiithiuvKingofFlowerChomngbnnviKingofFlowernimiahoakhngchlmnqumlngnngcacmxcvtnhyuChngtitinrnghoakhngchngmmcnlcchconngiktnischiavlantaiuptrongcucsngTiKingofFlowertngcnhhoacchnlaklngkthpcngbntaykholocanghnhncmhoatonnnhngtcphmtinhtvtrnycmxcThoasinhnhthoacihoakhaitrngnccthitkhoanghthutcquynchngtiluntchtlngvcmxccakhchhnglnhnguVismnhTraoyuthngGihnhphcKingofFlowerkhngchlmtcahnghoamlngikchuynbngschnggipbnthaylimunnitrongmidpcbitKingofFlowerNngniuvpthinnhinthpsngcmxcconngi>💐 Giới thiệu về King of Flower<br/>Chào mừng bạn đến với King of Flower – nơi mỗi đóa hoa không chỉ là món quà, mà là ngôn ngữ của cảm xúc và tình yêu.       Chúng tôi tin rằng hoa không chỉ để ngắm, mà còn là cách để con người kết nối, sẻ chia và lan tỏa điều đẹp đẽ trong cuộc sống.<br/>Tại King of Flower, từng cánh hoa được chọn lựa kỹ lưỡng, kết hợp cùng bàn tay khéo léo của nghệ nhân cắm hoa, tạo nên những tác phẩm tinh tế và tràn đầy cảm xúc.       Từ hoa sinh nhật, hoa cưới, hoa khai trương, đến các thiết kế hoa nghệ thuật độc quyền, chúng tôi luôn đặt chất lượng và cảm xúc của khách hàng lên hàng đầu.<br/>Với sứ mệnh “Trao yêu thương – Gửi hạnh phúc”, King of Flower không chỉ là một cửa hàng hoa, mà là người kể chuyện bằng sắc hương, giúp bạn thay lời muốn nói trong mọi dịp đặc biệt.<br/>✨ King of Flower – Nâng niu vẻ đẹp thiên nhiên, thắp sáng cảm xúc con người.</StyledGiithiuvKingofFlowerChomngbnnviKingofFlowernimiahoakhngchlmnqumlngnngcacmxcvtnhyuChngtitinrnghoakhngchngmmcnlcchconngiktnischiavlantaiuptrongcucsngTiKingofFlowertngcnhhoacchnlaklngkthpcngbntaykholocanghnhncmhoatonnnhngtcphmtinhtvtrnycmxcThoasinhnhthoacihoakhaitrngnccthitkhoanghthutcquynchngtiluntchtlngvcmxccakhchhnglnhnguVismnhTraoyuthngGihnhphcKingofFlowerkhngchlmtcahnghoamlngikchuynbngschnggipbnthaylimunnitrongmidpcbitKingofFlowerNngniuvpthinnhinthpsngcmxcconngi>
      <StyledLchsraicaKingofFlowerKingofFlowerraitmtnimtingindHoakhngchngmhoalcmxclngnngcayuthngNmygianhpsngvivcathnhphngisnglpKingofFlowernhnrarngconngingycngqunmtnhngkhonhkhclnglicmnhnvptnhinquanhmnhTtngmtcahngnhmangtnKingofFlowercthnhlpvimongmunmanghoatrlignhnvicucsngconngiBanuchlvibhoaticgibngttctnhyuvitaykholoNhngchnhstntmtmvchnthnhkhinkhchhngnhnvyumnthnghiuTngbcmtKingofFlowerphttrinmrnghthngadnghasnphmthoasinhnhthoacihoaskinnhoanghthutvcycnhnithtnhmnayKingofFlowerkhngchlnibnhoamlbiutngcacmxcvsktniChngtithokhicnghnhcngbntrongnhngkhonhkhcngnhnhtcacucikhittnhkhichcmngkhischiahaynginchlmtlicmnKingofFlowerHnhtrnhtmtbhoanhtrthnhngikchuynbngschng>🌷 Lịch sử ra đời của King of Flower<br/>King of Flower ra đời từ một niềm tin giản dị: “Hoa không chỉ để ngắm – hoa là cảm xúc, là ngôn ngữ của yêu thương.”<br/>Năm ấy, giữa nhịp sống vội vã của thành phố, người sáng lập King of Flower nhận ra rằng – con người ngày càng quên mất những khoảnh khắc lắng lại để cảm nhận vẻ đẹp tự nhiên quanh mình. Từ ý tưởng đó, một cửa hàng nhỏ mang tên King of Flower đã được thành lập, với mong muốn mang hoa trở lại gần hơn với cuộc sống con người.<br/>Ban đầu, chỉ là vài bó hoa tươi được gói bằng tất cả tình yêu và đôi tay khéo léo. Nhưng chính sự tận tâm, tỉ mỉ và chân thành đã khiến khách hàng nhớ đến và yêu mến thương hiệu.       Từng bước một, King of Flower phát triển, mở rộng hệ thống, đa dạng hóa sản phẩm từ hoa sinh nhật, hoa cưới, hoa sự kiện, đến hoa nghệ thuật và cây cảnh nội thất.<br/>Đến hôm nay, King of Flower không chỉ là nơi bán hoa – mà là biểu tượng của cảm xúc và sự kết nối.       Chúng tôi tự hào khi được đồng hành cùng bạn trong những khoảnh khắc đáng nhớ nhất của cuộc đời: khi tỏ tình, khi chúc mừng, khi sẻ chia, hay đơn giản chỉ là một lời “cảm ơn”.<br/>✨ King of Flower – Hành trình từ một bó hoa nhỏ, trở thành người kể chuyện bằng sắc hương.</StyledLchsraicaKingofFlowerKingofFlowerraitmtnimtingindHoakhngchngmhoalcmxclngnngcayuthngNmygianhpsngvivcathnhphngisnglpKingofFlowernhnrarngconngingycngqunmtnhngkhonhkhclnglicmnhnvptnhinquanhmnhTtngmtcahngnhmangtnKingofFlowercthnhlpvimongmunmanghoatrlignhnvicucsngconngiBanuchlvibhoaticgibngttctnhyuvitaykholoNhngchnhstntmtmvchnthnhkhinkhchhngnhnvyumnthnghiuTngbcmtKingofFlowerphttrinmrnghthngadnghasnphmthoasinhnhthoacihoaskinnhoanghthutvcycnhnithtnhmnayKingofFlowerkhngchlnibnhoamlbiutngcacmxcvsktniChngtithokhicnghnhcngbntrongnhngkhonhkhcngnhnhtcacucikhittnhkhichcmngkhischiahaynginchlmtlicmnKingofFlowerHnhtrnhtmtbhoanhtrthnhngikchuynbngschng>
      <StyledFrame62>
        <StyledRectangle231 />
      </StyledFrame62>
      <StyledKhmphgianhng>Khám phá gian hàng</StyledKhmphgianhng>
      <StyledRectangle232 />
      <StyledRectangle233  src="https://placehold.co/1440x267"/>
      <StyledRectangle234 />
      <StyledRectangle235  src="https://placehold.co/305x198"/>
      <StyledRectangle236  src="https://placehold.co/305x198"/>
      <StyledRectangle237  src="https://placehold.co/305x198"/>
      <StyledRectangle238 />
      <StyledRectangle239 />
      <StyledKhonhkhctuytvi>Khoảnh khắc tuyệt vời</StyledKhonhkhctuytvi>
      <StyledFrame52>
        <StyledRectangle279 />
      </StyledFrame52>
      <StyledFrame53>
        <StyledRectangle280 />
      </StyledFrame53>
      <StyledFrame54>
        <StyledRectangle281 />
      </StyledFrame54>
      <StyledFrame55>
        <StyledRectangle282 />
      </StyledFrame55>
      <StyledFrame56>
        <StyledRectangle283 />
      </StyledFrame56>
      <StyledFrame57>
        <StyledRectangle284 />
      </StyledFrame57>
      <StyledFrame58>
        <StyledRectangle286 />
      </StyledFrame58>
      <StyledTrangch>Trang chủ</StyledTrangch>
      <StyledSnphm>Sản phẩm</StyledSnphm>
      <StyledThcvt>Thực vật</StyledThcvt>
      <StyledGiHng>Giỏ Hàng</StyledGiHng>
      <StyledGiithiu>Giới thiệu</StyledGiithiu>
      <StyledSkin>Sự kiện</StyledSkin>
      <StyledUi>Ưu đãi</StyledUi>
    </StyledDesktop5>
  );
};